{"openapi":"3.0.1","info":{"title":"Fortify Software Security Center API","version":"1:25.2.0.0151"},"servers":[{"url":"https://pg8-s15-sql03.fortifylab.net:8443/ssc/api/v1"}],"tags":[{"description":"Bulk request controller","name":"bulk-controller"},{"description":"Retrieve the Audit Assistant training status of the application version","name":"aa-training-status-of-project-version-controller"},{"description":"Retrieve the activity feed entries","name":"activity-feed-controller"},{"description":"Manage alert definitions","name":"alert-definition-controller"},{"description":"Retrieve the triggered alert events and/or set their status","name":"alert-history-controller"},{"description":"Retrieve the event types for which alerts can be created","name":"alertable-event-type-controller"},{"description":"Manage basic information about the state of SSC","name":"application-state-controller"},{"description":"Manage application version artifacts","name":"artifact-controller"},{"description":"Retrieve and upload FPR artifacts associated with this application version","name":"artifact-of-project-version-controller"},{"description":"Manage attribute definitions","name":"attribute-definition-controller"},{"description":"Manage application version attributes","name":"attribute-of-project-version-controller"},{"description":"Retrieve the Audit Assistant status of the application version","name":"audit-assistant-status-of-project-version-controller"},{"description":"Retrieve the audit history events for the specific issue","name":"audit-history-of-issue-controller"},{"description":"Query current user authentication information","name":"auth-controller"},{"description":"Manage aggregated list of authentication entities (local and LDAP user accounts). LDAP groups can be accessed via a linked resource. This controller does not support creation of new accounts. To create new local or LDAP user accounts, use the corresponding specific controllers.","name":"auth-entity-controller"},{"description":"Retrieve the authentication entities associated with this application version","name":"auth-entity-of-project-version-controller"},{"description":"Manage authentication tokens","name":"auth-token-controller"},{"description":"Support the iterative sequence to interactively collect the information required to create a new bug in the bug tracking system associated with this project version. Such information includes various parameters required by the bug tracking system, whether the bug tracker plugin needs to perform authentication, and so on.","name":"bug-filing-requirements-of-project-version-controller"},{"description":"Retrieve the bug tracker integrations currently available in SSC","name":"bug-tracker-controller"},{"description":"Manage bug tracker integration for the application version","name":"bug-tracker-of-project-version-controller"},{"description":"Manage bugfield template groups","name":"bugfield-template-group-controller"},{"description":"Manage ScanCentral SAST jobs","name":"cloud-job-controller"},{"description":"Retrieve the ScanCentral SAST jobs associated with the pool","name":"cloud-job-of-cloud-pool-controller"},{"description":"Retrieve the ScanCentral SAST jobs associated to the worker","name":"cloud-job-of-cloud-worker-controller"},{"description":"Manage ScanCentral SAST pools","name":"cloud-pool-controller"},{"description":"Retrieve mapping of application version to ScanCentral SAST pool","name":"cloud-pool-mapping-controller"},{"description":"Retrieve system metrics for ScanCentral SAST","name":"cloud-system-metrics-controller"},{"description":"Retrieve information on ScanCentral SAST poll status","name":"cloud-system-poll-status-controller"},{"description":"Retrieve ScanCentral SAST system settings","name":"cloud-system-settings-controller"},{"description":"Retrieve information on ScanCentral SAST workers","name":"cloud-worker-controller"},{"description":"Manage association of ScanCentral SAST workers with ScanCentral SAST pools","name":"cloud-worker-of-cloud-pool-controller"},{"description":"Manage SSC application configuration","name":"configuration-controller"},{"description":"Manage Custom tag definitions","name":"custom-tag-controller"},{"description":"Manage custom tags which are assigned to the issue template","name":"custom-tag-of-issue-template-controller"},{"description":"Manage custom tags assigned to the application version","name":"custom-tag-of-project-version-controller"},{"description":"Retrieve dashboard versions designed to be used in the UI dashboard","name":"dashboard-version-controller"},{"description":"Manage data exports from SSC","name":"data-export-controller"},{"description":"Manage data retention policies.","name":"data-retention-policy-controller"},{"description":"Manage dynamic scan requests associated with the application version","name":"dynamic-scan-request-of-project-version-controller"},{"description":"Retrieve the dynamic scan request template associated with the application version","name":"dynamic-scan-request-template-of-project-version-controller"},{"description":"Retrieve the dynamic scan requests summary of the application version","name":"dynamic-scan-requests-summary-of-project-version-controller"},{"description":"Retrieve the available engine types","name":"engine-type-controller"},{"description":"Retrieve the SSC application event logs","name":"event-log-controller"},{"description":"Retrieve the features that this instance of SSC supports","name":"feature-controller"},{"description":"Manage a file token for various file upload and download operations","name":"file-token-controller"},{"description":"Retrieve the filter sets defined for the application version","name":"filter-set-of-project-version-controller"},{"description":"Retrieve the defined folder names as an array","name":"folder-controller"},{"description":"Retrieve the folders defined for the application version","name":"folder-of-project-version-controller"},{"description":"Retrieve the LDAP groups for the specified LDAP authentication entity","name":"group-of-auth-entity-controller"},{"description":"Retrieve issue identifier migration information for the specific migration","name":"iid-migration-controller"},{"description":"Manage issue identifier migrations associated with this application version","name":"iid-migration-of-project-version-controller"},{"description":"Retrieve the internal custom tag definitions","name":"internal-custom-tag-controller"},{"description":"Retrieve the issue aging metrics calculated for the system.","name":"issue-aging-controller"},{"description":"Retrieve all possible values for specific grouping attribute for issue aging table.","name":"issue-aging-group-controller"},{"description":"Retrieve issue aging portlet data","name":"issue-aging-portlet-controller"},{"description":"Retrieve the count of issues assigned to users in the application version","name":"issue-assignment-of-project-version-controller"},{"description":"Manage attachments associated to the issue","name":"issue-attachment-of-issue-controller"},{"description":"Retrieve the changelogs of attribute values for a specific issue","name":"issue-attr-changelog-of-issue-controller"},{"description":"Retrieve the issue audit comments that satisfy search criteria","name":"issue-audit-comment-controller"},{"description":"Manage audit comments associated with the issue","name":"issue-audit-comment-of-issue-controller"},{"description":"Retrieve information on one or more issues","name":"issue-controller"},{"description":"Retrieve detailed information about one or more issues","name":"issue-detail-controller"},{"description":"Retrieve the issue groups in the application version","name":"issue-group-of-project-version-controller"},{"description":"Manage issues in the application version","name":"issue-of-project-version-controller"},{"description":"Retrieve the set of all possible issue grouping and filtering options for the application version","name":"issue-selector-set-of-project-version-controller"},{"description":"Retrieve the count of suppressed, removed and hidden issues in the application version","name":"issue-statistics-of-project-version-controller"},{"description":"Retrieve performance indicators values history for the application version","name":"issue-summary-of-project-version-controller"},{"description":"Manage issue view templates","name":"issue-template-controller"},{"description":"Retrieve issue view templates","name":"issue-view-template-controller"},{"description":"Manage issues delta exports from SSC","name":"issues-delta-export-controller"},{"description":"Manage internal SSC jobs","name":"job-controller"},{"description":"Retrieve warnings about what happens when a user changes job priority","name":"job-priority-change-category-warning-of-job-controller"},{"description":"Manage LDAP-based authentication entities","name":"ldap-object-controller"},{"description":"Manage LDAP servers configuration","name":"ldap-server-controller"},{"description":"Retrieve license information","name":"license-controller"},{"description":"Manage local groups","name":"local-group-controller"},{"description":"Manage local users","name":"local-user-controller"},{"description":"Retrieve images loaded for parser plugin","name":"parser-plugin-image-controller"},{"description":"Manage performance indicator definitions","name":"performance-indicator-controller"},{"description":"Retrieve performance indicators values for the application version","name":"performance-indicator-history-of-project-version-controller"},{"description":"Retrieve the permissions and permission details for the specific permission GUID","name":"permission-controller"},{"description":"Retrieve permissions associated with a particular role","name":"permission-of-role-controller"},{"description":"Retrieve the permissions that this permission depends on","name":"permission-required-by-permission-controller"},{"description":"Manage OSGI plugins hosted by SSC plugin framework","name":"plugin-controller"},{"description":"Retrieve the plugin engineTypes of the scans in an application version","name":"plugin-engine-types-of-project-version-controller"},{"description":"Retrieve images loaded by plugin","name":"plugin-image-controller"},{"description":"Retrieve localization data provided by plugin","name":"plugin-localization-controller"},{"description":"Manage container of application versions. (Application versions and their related resources, such as artifacts, can be accessed via a linked resource).","name":"project-controller"},{"description":"Manage application versions. A variety of associated resources are accessible via links.","name":"project-version-controller"},{"description":"Retrieve the application versions associated with the alert definition","name":"project-version-of-alert-definition-controller"},{"description":"Manage the association of application versions to the authentication entity (local or LDAP user)","name":"project-version-of-auth-entity-controller"},{"description":"Manage application versions associated with the ScanCentral SAST pool","name":"project-version-of-cloud-pool-controller"},{"description":"Manage association of application versions to application","name":"project-version-of-project-controller"},{"description":"Manage report definitions","name":"report-definition-controller"},{"description":"Manage report libraries","name":"report-library-controller"},{"description":"Manage artifact processing rules for the application version","name":"result-processing-rule-of-project-version-controller"},{"description":"Manage user roles","name":"role-controller"},{"description":"Retrieve the roles for the authentication entity","name":"role-of-auth-entity-controller"},{"description":"Manage rulepacks","name":"rulepack-core-controller"},{"description":"Import rulepacks from the rules server and return the status","name":"rulepack-update-controller"},{"description":"Manage reports","name":"saved-report-controller"},{"description":"View SBOM information of an application version","name":"sbom-of-project-version-controller"},{"description":"Retrieve information about a scan","name":"scan-controller"},{"description":"Retrieve the scan errors of all the scans associated with artifact","name":"scan-error-of-artifact-controller"},{"description":"Retrieve the scans associated with the artifact","name":"scan-of-artifact-controller"},{"description":"Seed bundles management","name":"seed-bundle-controller"},{"description":"Retrieve the metadata and contents of a source file associated with this application version","name":"source-file-of-project-version-controller"},{"description":"Retrieve SSC system configuration. The visibility of some configuration values depends on the user's role","name":"system-configuration-controller"},{"description":"Retrieve token definitions","name":"token-definition-controller"},{"description":"Retrieve the ScanCentral SAST workers that are not assigned to any ScanCentral SAST pool","name":"unassigned-cloud-worker-of-cloud-pool-controller"},{"description":"[Deprecated] Manage issues search options for the application version","name":"user-issue-search-option-of-project-version-controller"},{"description":"Manage default issues search options for the currently logged-in user to be used by SSC if no issue view options are set for a project version","name":"user-issue-search-options-controller"},{"description":"Manage issues search options for a currently logged-in user for the application version","name":"user-issue-search-options-of-project-version-controller"},{"description":"Manage user session preferences.","name":"user-preferences-controller"},{"description":"Retrieve user session information","name":"user-session-info-controller"},{"description":"Manage current user UI state","name":"user-session-state-controller"},{"description":"Request current token data","name":"user-session-token-data-controller"},{"description":"Validate performance indicator equation","name":"validate-equation-controller"},{"description":"Validate search string","name":"validate-search-string-controller"},{"description":"Manage variable definitions","name":"variable-controller"},{"description":"Retrieve the values of variables for the application version","name":"variable-history-of-project-version-controller"},{"description":"Manage WebHook definitions","name":"web-hook-definition-controller"},{"description":"View triggered requests to webhook. Use read to retrieve triggered items with full details.","name":"web-hook-history-of-web-hook-controller"}],"paths":{"/activityFeedEvents":{"get":{"operationId":"listActivityFeed","parameters":[{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}},{"description":"A start offset in object listing","in":"query","name":"start","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"description":"A maximum number of returned objects in listing. If '-1' or '0', no limit is applied. (However, unbounded limit is not supported for api calls using fulltextsearch.)","in":"query","name":"limit","required":false,"schema":{"minimum":-1,"type":"integer","format":"int32","default":200}},{"description":"Disable computing the total object count for the 'count' field","in":"query","name":"withoutCount","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListActivityFeed"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["activity-feed-controller"]}},"/alertDefinitions":{"delete":{"operationId":"multiDeleteAlertDefinition","parameters":[{"description":"A comma-separated list of resource identifiers","in":"query","name":"ids","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["alert-definition-controller"]},"get":{"operationId":"listAlertDefinition","parameters":[{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}},{"description":"A search query","in":"query","name":"q","required":false,"schema":{"type":"string"}},{"description":"A start offset in object listing","in":"query","name":"start","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"description":"A maximum number of returned objects in listing. If '-1' or '0', no limit is applied. (However, unbounded limit is not supported for api calls using fulltextsearch.)","in":"query","name":"limit","required":false,"schema":{"minimum":-1,"type":"integer","format":"int32","default":200}},{"description":"Disable computing the total object count for the 'count' field","in":"query","name":"withoutCount","required":false,"schema":{"type":"boolean","default":false}},{"description":"Fields to order by","in":"query","name":"orderby","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListAlertDefinition"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["alert-definition-controller"]},"post":{"operationId":"createAlertDefinition","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertDefinition"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultAlertDefinition"}}},"description":"Created"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["alert-definition-controller"]}},"/alertDefinitions/{id}":{"delete":{"operationId":"deleteAlertDefinition","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["alert-definition-controller"]},"get":{"operationId":"readAlertDefinition","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultAlertDefinition"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["alert-definition-controller"]},"put":{"operationId":"updateAlertDefinition","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertDefinition"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultAlertDefinition"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["alert-definition-controller"]}},"/alertDefinitions/{parentId}/projectVersions":{"get":{"operationId":"listProjectVersionOfAlertDefinition","parameters":[{"in":"path","name":"parentId","required":true,"schema":{"type":"integer","format":"int64"}},{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}},{"description":"A search query","in":"query","name":"q","required":false,"schema":{"type":"string"}},{"description":"A start offset in object listing","in":"query","name":"start","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"description":"A maximum number of returned objects in listing. If '-1' or '0', no limit is applied. (However, unbounded limit is not supported for api calls using fulltextsearch.)","in":"query","name":"limit","required":false,"schema":{"minimum":-1,"type":"integer","format":"int32","default":200}},{"description":"Disable computing the total object count for the 'count' field","in":"query","name":"withoutCount","required":false,"schema":{"type":"boolean","default":false}},{"description":"Fields to order by","in":"query","name":"orderby","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListProjectVersion"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["project-version-of-alert-definition-controller"]}},"/alertableEventTypes":{"get":{"operationId":"listAlertableEventType","parameters":[{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListAlertableEventType"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["alertable-event-type-controller"]}},"/alerts":{"get":{"operationId":"listAlertHistory","parameters":[{"description":"A search query","in":"query","name":"q","required":false,"schema":{"type":"string"}},{"description":"A start offset in object listing","in":"query","name":"start","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"description":"A maximum number of returned objects in listing. If '-1' or '0', no limit is applied. (However, unbounded limit is not supported for api calls using fulltextsearch.)","in":"query","name":"limit","required":false,"schema":{"minimum":-1,"type":"integer","format":"int32","default":200}},{"description":"Disable computing the total object count for the 'count' field","in":"query","name":"withoutCount","required":false,"schema":{"type":"boolean","default":false}},{"description":"Fields to order by","in":"query","name":"orderby","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListAlertHistoryEntry"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["alert-history-controller"]}},"/alerts/action":{"post":{"deprecated":true,"operationId":"doActionAlertHistory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiCollectionActionLong"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultApiActionResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["alert-history-controller"]}},"/alerts/action/setStatus":{"post":{"operationId":"setStatusForAlertHistory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlertSetStatusRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"summary":"Mark a triggered alert event as read or unread","tags":["alert-history-controller"]}},"/applicationState":{"get":{"operationId":"getApplicationState","responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultApplicationState"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["application-state-controller"]},"put":{"operationId":"putApplicationState","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplicationState"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultApplicationState"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["application-state-controller"]}},"/artifacts/action/approve":{"post":{"operationId":"approveArtifact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtifactApproveRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"summary":"Approve the artifact for processing in spite of failing ","tags":["artifact-controller"]}},"/artifacts/action/purge":{"post":{"operationId":"purgeArtifact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtifactPurgeRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"summary":"Purge artifacts from the system to recover space without affecting issue metrics. Purging is applied to every artifact from the same Application Version that has 'Analysis Date' equal to or older than the selected artifact.(Use the 'delete' operation instead if you want to completely revert all traces of an artifact)","tags":["artifact-controller"]}},"/artifacts/{id}":{"delete":{"operationId":"deleteArtifact","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["artifact-controller"]},"get":{"operationId":"readArtifact","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}},{"description":"Fields to embed","in":"query","name":"embed","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultArtifact"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["artifact-controller"]}},"/artifacts/{id}/action":{"post":{"deprecated":true,"operationId":"doActionArtifact","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResourceAction"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultApiActionResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["artifact-controller"]}},"/artifacts/{parentId}/scanerrors":{"get":{"operationId":"listScanErrorOfArtifact","parameters":[{"in":"path","name":"parentId","required":true,"schema":{"type":"integer","format":"int64"}},{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}},{"description":"A start offset in object listing","in":"query","name":"start","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"description":"A maximum number of returned objects in listing. If '-1' or '0', no limit is applied. (However, unbounded limit is not supported for api calls using fulltextsearch.)","in":"query","name":"limit","required":false,"schema":{"minimum":-1,"type":"integer","format":"int32","default":200}},{"description":"Disable computing the total object count for the 'count' field","in":"query","name":"withoutCount","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListScanError"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["scan-error-of-artifact-controller"]}},"/artifacts/{parentId}/scans":{"get":{"operationId":"listScanOfArtifact","parameters":[{"in":"path","name":"parentId","required":true,"schema":{"type":"integer","format":"int64"}},{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListScan"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["scan-of-artifact-controller"]}},"/attributeDefinitions":{"delete":{"operationId":"multiDeleteAttributeDefinition","parameters":[{"description":"A comma-separated list of resource identifiers","in":"query","name":"ids","required":true,"schema":{"type":"string"}},{"description":"If parameter is set to 'true', the specified attribute(s), if deletable, will be removed even if in use.","in":"query","name":"force","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["attribute-definition-controller"]},"get":{"operationId":"listAttributeDefinition","parameters":[{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}},{"description":"A search query","in":"query","name":"q","required":false,"schema":{"type":"string"}},{"description":"A start offset in object listing","in":"query","name":"start","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"description":"A maximum number of returned objects in listing. If '-1' or '0', no limit is applied. (However, unbounded limit is not supported for api calls using fulltextsearch.)","in":"query","name":"limit","required":false,"schema":{"minimum":-1,"type":"integer","format":"int32","default":200}},{"description":"Disable computing the total object count for the 'count' field","in":"query","name":"withoutCount","required":false,"schema":{"type":"boolean","default":false}},{"description":"Fields to order by","in":"query","name":"orderby","required":false,"schema":{"type":"string"}},{"description":"Specify any additional attribute categories to be included (besides the default BUSINESS, TECHNICAL, ORGANIZATION, and DYNAMIC_SCAN_REQUEST).","in":"query","name":"extraCategories","required":false,"schema":{"type":"string","enum":["SCANCENTRAL_DAST"]}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListAttributeDefinition"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["attribute-definition-controller"]},"post":{"operationId":"createAttributeDefinition","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttributeDefinition"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultAttributeDefinition"}}},"description":"Created"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["attribute-definition-controller"]}},"/attributeDefinitions/{id}":{"delete":{"operationId":"deleteAttributeDefinition","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"description":"If parameter is set to 'true', the specified attribute(s), if deletable, will be removed even if in use.","in":"query","name":"force","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["attribute-definition-controller"]},"get":{"operationId":"readAttributeDefinition","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultAttributeDefinition"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["attribute-definition-controller"]},"put":{"operationId":"updateAttributeDefinition","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttributeDefinition"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultAttributeDefinition"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["attribute-definition-controller"]}},"/auth/clientSessionId":{"post":{"operationId":"clientSessionIdAuth","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientSessionIdRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientSessionIdResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["auth-controller"]}},"/authEntities":{"delete":{"operationId":"multiDeleteAuthEntity","parameters":[{"description":"A comma-separated list of resource identifiers","in":"query","name":"ids","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["auth-entity-controller"]},"get":{"operationId":"listAuthEntity","parameters":[{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}},{"description":"A search-spec of full text search query (see fulltextsearch parameter)","in":"query","name":"q","required":false,"schema":{"type":"string"}},{"description":"If 'true', interpret 'q' parameter as full text search query, defaults to 'false'","in":"query","name":"fulltextsearch","required":false,"schema":{"type":"boolean","default":false}},{"description":"A start offset in object listing","in":"query","name":"start","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"description":"A maximum number of returned objects in listing. If '-1' or '0', no limit is applied. (However, unbounded limit is not supported for api calls using fulltextsearch.)","in":"query","name":"limit","required":false,"schema":{"minimum":-1,"type":"integer","format":"int32","default":200}},{"description":"Disable computing the total object count for the 'count' field","in":"query","name":"withoutCount","required":false,"schema":{"type":"boolean","default":false}},{"description":"Fields to order by","in":"query","name":"orderby","required":false,"schema":{"type":"string"}},{"description":"Fields to embed","in":"query","name":"embed","required":false,"schema":{"type":"string"}},{"in":"query","name":"entityname","required":false,"schema":{"type":"string","default":""}},{"in":"query","name":"ldaptype","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListAuthEntity"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["auth-entity-controller"]}},"/authEntities/{id}":{"get":{"operationId":"readAuthEntity","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}},{"description":"Fields to embed","in":"query","name":"embed","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultAuthEntity"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["auth-entity-controller"]}},"/authEntities/{parentId}/groups":{"get":{"operationId":"listGroupOfAuthEntity","parameters":[{"in":"path","name":"parentId","required":true,"schema":{"type":"string"}},{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}},{"description":"A search query","in":"query","name":"q","required":false,"schema":{"type":"string"}},{"description":"A start offset in object listing","in":"query","name":"start","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"description":"A maximum number of returned objects in listing. If '-1' or '0', no limit is applied. (However, unbounded limit is not supported for api calls using fulltextsearch.)","in":"query","name":"limit","required":false,"schema":{"minimum":-1,"type":"integer","format":"int32","default":200}},{"description":"Disable computing the total object count for the 'count' field","in":"query","name":"withoutCount","required":false,"schema":{"type":"boolean","default":false}},{"description":"Fields to embed","in":"query","name":"embed","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListAuthEntity"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["group-of-auth-entity-controller"]}},"/authEntities/{parentId}/projectVersions":{"delete":{"operationId":"multiDeleteProjectVersionOfAuthEntity","parameters":[{"in":"path","name":"parentId","required":true,"schema":{"type":"integer","format":"int64"}},{"description":"A comma-separated list of resource identifiers","in":"query","name":"ids","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["project-version-of-auth-entity-controller"]},"get":{"operationId":"listProjectVersionOfAuthEntity","parameters":[{"in":"path","name":"parentId","required":true,"schema":{"type":"integer","format":"int64"}},{"description":"A search query","in":"query","name":"q","required":false,"schema":{"type":"string"}},{"description":"A start offset in object listing","in":"query","name":"start","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"description":"A maximum number of returned objects in listing. If '-1' or '0', no limit is applied. (However, unbounded limit is not supported for api calls using fulltextsearch.)","in":"query","name":"limit","required":false,"schema":{"minimum":-1,"type":"integer","format":"int32","default":200}},{"description":"Disable computing the total object count for the 'count' field","in":"query","name":"withoutCount","required":false,"schema":{"type":"boolean","default":false}},{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}},{"in":"query","name":"includeInactive","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListProjectVersion"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["project-version-of-auth-entity-controller"]},"put":{"description":"If the submitted authentication entity has no roles, the update will be ignored","operationId":"updateProjectVersionOfAuthEntity","parameters":[{"in":"path","name":"parentId","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListProjectVersion"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"summary":"Update the specified application versions for the authentication entity","tags":["project-version-of-auth-entity-controller"]}},"/authEntities/{parentId}/projectVersions/action":{"post":{"deprecated":true,"operationId":"doActionProjectVersionOfAuthEntity","parameters":[{"in":"path","name":"parentId","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiCollectionActionLong"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultApiActionResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["project-version-of-auth-entity-controller"]}},"/authEntities/{parentId}/projectVersions/action/assign":{"post":{"description":"If the submitted authentication entity has no roles, the assignment will be ignored","operationId":"assignProjectVersionOfAuthEntity","parameters":[{"in":"path","name":"parentId","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectVersionAuthEntityAssignRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"summary":"Associate the specified application versions to the authentication entity","tags":["project-version-of-auth-entity-controller"]}},"/authEntities/{parentId}/roles":{"get":{"operationId":"listRoleOfAuthEntity","parameters":[{"in":"path","name":"parentId","required":true,"schema":{"type":"integer","format":"int64"}},{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListRole"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["role-of-auth-entity-controller"]}},"/bugfieldTemplateGroups":{"delete":{"operationId":"multiDeleteBugfieldTemplateGroup","parameters":[{"description":"A comma-separated list of resource identifiers","in":"query","name":"ids","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["bugfield-template-group-controller"]},"get":{"operationId":"listBugfieldTemplateGroup","parameters":[{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListBugfieldTemplateGroup"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["bugfield-template-group-controller"]},"post":{"operationId":"createBugfieldTemplateGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BugfieldTemplateGroup"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultBugfieldTemplateGroup"}}},"description":"Created"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["bugfield-template-group-controller"]}},"/bugfieldTemplateGroups/{id}":{"delete":{"operationId":"deleteBugfieldTemplateGroup","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["bugfield-template-group-controller"]},"get":{"operationId":"readBugfieldTemplateGroup","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}},{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultBugfieldTemplateGroup"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["bugfield-template-group-controller"]},"put":{"operationId":"updateBugfieldTemplateGroup","parameters":[{"in":"path","name":"id","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BugfieldTemplateGroup"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultBugfieldTemplateGroup"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["bugfield-template-group-controller"]}},"/bugtrackers":{"get":{"operationId":"listBugTracker","parameters":[{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListBugTracker"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["bug-tracker-controller"]}},"/bulk":{"post":{"operationId":"postBulk","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiBulkRequestData"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListApiBulkResponseItem"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["bulk-controller"]}},"/cloudjobs":{"get":{"operationId":"listCloudJob","parameters":[{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}},{"description":"Syntax mode for the 'q' parameter. Empty value uses basic search, 'adv' uses advanced search.","in":"query","name":"qm","required":false,"schema":{"type":"string","enum":["","adv"]}},{"description":"A search query","in":"query","name":"q","required":false,"schema":{"type":"string"}},{"description":"A start offset in object listing","in":"query","name":"start","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"description":"A maximum number of returned objects in listing. If '-1' or '0', no limit is applied. (However, unbounded limit is not supported for api calls using fulltextsearch.)","in":"query","name":"limit","required":false,"schema":{"minimum":-1,"type":"integer","format":"int32","default":200}},{"description":"Disable computing the total object count for the 'count' field","in":"query","name":"withoutCount","required":false,"schema":{"type":"boolean","default":false}},{"description":"Fields to order by","in":"query","name":"orderby","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListCloudJob"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["cloud-job-controller"]}},"/cloudjobs/action/cancel":{"post":{"operationId":"cancelCloudJob","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudJobCancelRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"summary":"Cancel a job","tags":["cloud-job-controller"]}},"/cloudjobs/action/prioritizeJob":{"post":{"operationId":"prioritizeJobCloudJob","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrioritizeScanCentralJobRequest"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"summary":"Move the job to the top of the queue","tags":["cloud-job-controller"]}},"/cloudjobs/{jobToken}":{"get":{"operationId":"readCloudJob","parameters":[{"in":"path","name":"jobToken","required":true,"schema":{"type":"string"}},{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultCloudJob"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["cloud-job-controller"]}},"/cloudjobs/{jobToken}/action":{"post":{"deprecated":true,"operationId":"doActionCloudJob","parameters":[{"in":"path","name":"jobToken","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResourceAction"}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultApiActionResponse"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["cloud-job-controller"]}},"/cloudmappings/mapByVersionId":{"get":{"operationId":"mapByVersionIdCloudPoolMapping","parameters":[{"in":"query","name":"projectVersionId","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultCloudPoolMapping"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["cloud-pool-mapping-controller"]}},"/cloudmappings/mapByVersionIds":{"post":{"operationId":"mapByVersionIdsCloudPoolMapping","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int64"}}}},"required":true},"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListCloudPoolMapping"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["cloud-pool-mapping-controller"]}},"/cloudmappings/mapByVersionName":{"get":{"operationId":"mapByVersionNameCloudPoolMapping","parameters":[{"in":"query","name":"projectName","required":true,"schema":{"type":"string"}},{"in":"query","name":"projectVersionName","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultCloudPoolMapping"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["cloud-pool-mapping-controller"]}},"/cloudpools":{"get":{"operationId":"listCloudPool","parameters":[{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}},{"description":"A search-spec of full text search query (see fulltextsearch parameter)","in":"query","name":"q","required":false,"schema":{"type":"string"}},{"description":"If 'true', interpret 'q' parameter as full text search query, defaults to 'false'","in":"query","name":"fulltextsearch","required":false,"schema":{"type":"boolean","default":false}},{"description":"A start offset in object listing","in":"query","name":"start","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"description":"A maximum number of returned objects in listing. If '-1' or '0', no limit is applied. (However, unbounded limit is not supported for api calls using fulltextsearch.)","in":"query","name":"limit","required":false,"schema":{"minimum":-1,"type":"integer","format":"int32","default":200}},{"description":"Disable computing the total object count for the 'count' field","in":"query","name":"withoutCount","required":false,"schema":{"type":"boolean","default":false}},{"description":"Fields to order by","in":"query","name":"orderby","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListCloudPool"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["cloud-pool-controller"]},"post":{"operationId":"createCloudPool","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudPool"}}},"required":true},"responses":{"201":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultCloudPool"}}},"description":"Created"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["cloud-pool-controller"]}},"/cloudpools/disabledWorkers":{"get":{"operationId":"listUnassignedCloudWorkerOfCloudPool","parameters":[{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}},{"description":"A start offset in object listing","in":"query","name":"start","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"description":"A maximum number of returned objects in listing. If '-1' or '0', no limit is applied. (However, unbounded limit is not supported for api calls using fulltextsearch.)","in":"query","name":"limit","required":false,"schema":{"minimum":-1,"type":"integer","format":"int32","default":200}},{"description":"Disable computing the total object count for the 'count' field","in":"query","name":"withoutCount","required":false,"schema":{"type":"boolean","default":false}},{"description":"Fields to order by","in":"query","name":"orderby","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListCloudWorker"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["unassigned-cloud-worker-of-cloud-pool-controller"]}},"/cloudpools/{parentId}/jobs":{"get":{"operationId":"listCloudJobOfCloudPool","parameters":[{"in":"path","name":"parentId","required":true,"schema":{"type":"string"}},{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}},{"description":"A start offset in object listing","in":"query","name":"start","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"description":"A maximum number of returned objects in listing. If '-1' or '0', no limit is applied. (However, unbounded limit is not supported for api calls using fulltextsearch.)","in":"query","name":"limit","required":false,"schema":{"minimum":-1,"type":"integer","format":"int32","default":200}},{"description":"Disable computing the total object count for the 'count' field","in":"query","name":"withoutCount","required":false,"schema":{"type":"boolean","default":false}},{"description":"Fields to order by","in":"query","name":"orderby","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListCloudJob"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["cloud-job-of-cloud-pool-controller"]}},"/cloudpools/{parentId}/versions":{"delete":{"operationId":"multiDeleteProjectVersionOfCloudPool","parameters":[{"in":"path","name":"parentId","required":true,"schema":{"type":"string"}},{"description":"A comma-separated list of resource identifiers","in":"query","name":"ids","required":true,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultVoid"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"summary":"Delete application versions from the cloud pool","tags":["project-version-of-cloud-pool-controller"]},"get":{"operationId":"listProjectVersionOfCloudPool","parameters":[{"in":"path","name":"parentId","required":true,"schema":{"type":"string"}},{"description":"Comma separated list of fields to return","in":"query","name":"fields","required":false,"schema":{"type":"string"}},{"description":"A start offset in object listing","in":"query","name":"start","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"description":"A maximum number of returned objects in listing. If '-1' or '0', no limit is applied. (However, unbounded limit is not supported for api calls using fulltextsearch.)","in":"query","name":"limit","required":false,"schema":{"minimum":-1,"type":"integer","format":"int32","default":200}},{"description":"Disable computing the total object count for the 'count' field","in":"query","name":"withoutCount","required":false,"schema":{"type":"boolean","default":false}},{"description":"Fields to order by","in":"query","name":"orderby","required":false,"schema":{"type":"string"}}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResultListProjectVersion"}}},"description":"OK"},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Bad Request"},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Authorization Required"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Forbidden"},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Not Found"},"409":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Conflict"},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResult"}}},"description":"Internal Server Error"}},"security":[{"FortifyToken":[]}],"tags":["project-version-of-cloud-pool-controller"]}},"/cloudpools/{parentId}/versions/action":{"post":{"deprecated":true,"operationId":"doActionProjectVersionOfCloudPool","parameters":[{"in":"path","name":"parentId","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{
[...]
