/*
 * Fortify Software Security Center API
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1:18.20
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.fortify.ssc.restclient.api;

import com.fortify.ssc.restclient.ApiCallback;
import com.fortify.ssc.restclient.ApiClient;
import com.fortify.ssc.restclient.ApiException;
import com.fortify.ssc.restclient.ApiResponse;
import com.fortify.ssc.restclient.Configuration;
import com.fortify.ssc.restclient.Pair;
import com.fortify.ssc.restclient.ProgressRequestBody;
import com.fortify.ssc.restclient.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.fortify.ssc.restclient.model.ApiResult;
import com.fortify.ssc.restclient.model.ApiResultAuthenticationEntity;
import com.fortify.ssc.restclient.model.ApiResultListAuthenticationEntity;
import com.fortify.ssc.restclient.model.AuthenticationEntity;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AuthEntityOfProjectVersionControllerApi {
    private ApiClient apiClient;

    public AuthEntityOfProjectVersionControllerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AuthEntityOfProjectVersionControllerApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for listAuthEntityOfProjectVersion
     * @param parentId parentId (required)
     * @param fields Output fields (optional)
     * @param embed Fields to embed (optional)
     * @param extractusersfromgroups extractusersfromgroups (optional)
     * @param includeuniversalaccessentities includeuniversalaccessentities (optional)
     * @param entityname entityname (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listAuthEntityOfProjectVersionCall(Long parentId, String fields, String embed, Boolean extractusersfromgroups, Boolean includeuniversalaccessentities, String entityname, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/projectVersions/{parentId}/authEntities"
            .replaceAll("\\{" + "parentId" + "\\}", apiClient.escapeString(parentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (embed != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("embed", embed));
        if (extractusersfromgroups != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("extractusersfromgroups", extractusersfromgroups));
        if (includeuniversalaccessentities != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("includeuniversalaccessentities", includeuniversalaccessentities));
        if (entityname != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("entityname", entityname));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "FortifyToken" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listAuthEntityOfProjectVersionValidateBeforeCall(Long parentId, String fields, String embed, Boolean extractusersfromgroups, Boolean includeuniversalaccessentities, String entityname, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'parentId' is set
        if (parentId == null) {
            throw new ApiException("Missing the required parameter 'parentId' when calling listAuthEntityOfProjectVersion(Async)");
        }
        

        com.squareup.okhttp.Call call = listAuthEntityOfProjectVersionCall(parentId, fields, embed, extractusersfromgroups, includeuniversalaccessentities, entityname, progressListener, progressRequestListener);
        return call;

    }

    /**
     * list
     * 
     * @param parentId parentId (required)
     * @param fields Output fields (optional)
     * @param embed Fields to embed (optional)
     * @param extractusersfromgroups extractusersfromgroups (optional)
     * @param includeuniversalaccessentities includeuniversalaccessentities (optional)
     * @param entityname entityname (optional)
     * @return ApiResultListAuthenticationEntity
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResultListAuthenticationEntity listAuthEntityOfProjectVersion(Long parentId, String fields, String embed, Boolean extractusersfromgroups, Boolean includeuniversalaccessentities, String entityname) throws ApiException {
        ApiResponse<ApiResultListAuthenticationEntity> resp = listAuthEntityOfProjectVersionWithHttpInfo(parentId, fields, embed, extractusersfromgroups, includeuniversalaccessentities, entityname);
        return resp.getData();
    }

    /**
     * list
     * 
     * @param parentId parentId (required)
     * @param fields Output fields (optional)
     * @param embed Fields to embed (optional)
     * @param extractusersfromgroups extractusersfromgroups (optional)
     * @param includeuniversalaccessentities includeuniversalaccessentities (optional)
     * @param entityname entityname (optional)
     * @return ApiResponse&lt;ApiResultListAuthenticationEntity&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ApiResultListAuthenticationEntity> listAuthEntityOfProjectVersionWithHttpInfo(Long parentId, String fields, String embed, Boolean extractusersfromgroups, Boolean includeuniversalaccessentities, String entityname) throws ApiException {
        com.squareup.okhttp.Call call = listAuthEntityOfProjectVersionValidateBeforeCall(parentId, fields, embed, extractusersfromgroups, includeuniversalaccessentities, entityname, null, null);
        Type localVarReturnType = new TypeToken<ApiResultListAuthenticationEntity>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * list (asynchronously)
     * 
     * @param parentId parentId (required)
     * @param fields Output fields (optional)
     * @param embed Fields to embed (optional)
     * @param extractusersfromgroups extractusersfromgroups (optional)
     * @param includeuniversalaccessentities includeuniversalaccessentities (optional)
     * @param entityname entityname (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listAuthEntityOfProjectVersionAsync(Long parentId, String fields, String embed, Boolean extractusersfromgroups, Boolean includeuniversalaccessentities, String entityname, final ApiCallback<ApiResultListAuthenticationEntity> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listAuthEntityOfProjectVersionValidateBeforeCall(parentId, fields, embed, extractusersfromgroups, includeuniversalaccessentities, entityname, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ApiResultListAuthenticationEntity>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for readAuthEntityOfProjectVersion
     * @param parentId parentId (required)
     * @param id id (required)
     * @param fields Output fields (optional)
     * @param embed Fields to embed (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call readAuthEntityOfProjectVersionCall(Long parentId, Long id, String fields, String embed, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/projectVersions/{parentId}/authEntities/{id}"
            .replaceAll("\\{" + "parentId" + "\\}", apiClient.escapeString(parentId.toString()))
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (embed != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("embed", embed));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "FortifyToken" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call readAuthEntityOfProjectVersionValidateBeforeCall(Long parentId, Long id, String fields, String embed, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'parentId' is set
        if (parentId == null) {
            throw new ApiException("Missing the required parameter 'parentId' when calling readAuthEntityOfProjectVersion(Async)");
        }
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling readAuthEntityOfProjectVersion(Async)");
        }
        

        com.squareup.okhttp.Call call = readAuthEntityOfProjectVersionCall(parentId, id, fields, embed, progressListener, progressRequestListener);
        return call;

    }

    /**
     * read
     * 
     * @param parentId parentId (required)
     * @param id id (required)
     * @param fields Output fields (optional)
     * @param embed Fields to embed (optional)
     * @return ApiResultAuthenticationEntity
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResultAuthenticationEntity readAuthEntityOfProjectVersion(Long parentId, Long id, String fields, String embed) throws ApiException {
        ApiResponse<ApiResultAuthenticationEntity> resp = readAuthEntityOfProjectVersionWithHttpInfo(parentId, id, fields, embed);
        return resp.getData();
    }

    /**
     * read
     * 
     * @param parentId parentId (required)
     * @param id id (required)
     * @param fields Output fields (optional)
     * @param embed Fields to embed (optional)
     * @return ApiResponse&lt;ApiResultAuthenticationEntity&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ApiResultAuthenticationEntity> readAuthEntityOfProjectVersionWithHttpInfo(Long parentId, Long id, String fields, String embed) throws ApiException {
        com.squareup.okhttp.Call call = readAuthEntityOfProjectVersionValidateBeforeCall(parentId, id, fields, embed, null, null);
        Type localVarReturnType = new TypeToken<ApiResultAuthenticationEntity>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * read (asynchronously)
     * 
     * @param parentId parentId (required)
     * @param id id (required)
     * @param fields Output fields (optional)
     * @param embed Fields to embed (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call readAuthEntityOfProjectVersionAsync(Long parentId, Long id, String fields, String embed, final ApiCallback<ApiResultAuthenticationEntity> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = readAuthEntityOfProjectVersionValidateBeforeCall(parentId, id, fields, embed, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ApiResultAuthenticationEntity>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateCollectionAuthEntityOfProjectVersion
     * @param parentId parentId (required)
     * @param data data (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateCollectionAuthEntityOfProjectVersionCall(Long parentId, List<AuthenticationEntity> data, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = data;

        // create path and map variables
        String localVarPath = "/projectVersions/{parentId}/authEntities"
            .replaceAll("\\{" + "parentId" + "\\}", apiClient.escapeString(parentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "FortifyToken" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateCollectionAuthEntityOfProjectVersionValidateBeforeCall(Long parentId, List<AuthenticationEntity> data, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'parentId' is set
        if (parentId == null) {
            throw new ApiException("Missing the required parameter 'parentId' when calling updateCollectionAuthEntityOfProjectVersion(Async)");
        }
        
        // verify the required parameter 'data' is set
        if (data == null) {
            throw new ApiException("Missing the required parameter 'data' when calling updateCollectionAuthEntityOfProjectVersion(Async)");
        }
        

        com.squareup.okhttp.Call call = updateCollectionAuthEntityOfProjectVersionCall(parentId, data, progressListener, progressRequestListener);
        return call;

    }

    /**
     * updateCollection
     * 
     * @param parentId parentId (required)
     * @param data data (required)
     * @return ApiResultListAuthenticationEntity
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResultListAuthenticationEntity updateCollectionAuthEntityOfProjectVersion(Long parentId, List<AuthenticationEntity> data) throws ApiException {
        ApiResponse<ApiResultListAuthenticationEntity> resp = updateCollectionAuthEntityOfProjectVersionWithHttpInfo(parentId, data);
        return resp.getData();
    }

    /**
     * updateCollection
     * 
     * @param parentId parentId (required)
     * @param data data (required)
     * @return ApiResponse&lt;ApiResultListAuthenticationEntity&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ApiResultListAuthenticationEntity> updateCollectionAuthEntityOfProjectVersionWithHttpInfo(Long parentId, List<AuthenticationEntity> data) throws ApiException {
        com.squareup.okhttp.Call call = updateCollectionAuthEntityOfProjectVersionValidateBeforeCall(parentId, data, null, null);
        Type localVarReturnType = new TypeToken<ApiResultListAuthenticationEntity>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * updateCollection (asynchronously)
     * 
     * @param parentId parentId (required)
     * @param data data (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateCollectionAuthEntityOfProjectVersionAsync(Long parentId, List<AuthenticationEntity> data, final ApiCallback<ApiResultListAuthenticationEntity> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateCollectionAuthEntityOfProjectVersionValidateBeforeCall(parentId, data, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ApiResultListAuthenticationEntity>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
