/*
 * Fortify Software Security Center API
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1:18.20
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.fortify.ssc.restclient.api;

import com.fortify.ssc.restclient.ApiCallback;
import com.fortify.ssc.restclient.ApiClient;
import com.fortify.ssc.restclient.ApiException;
import com.fortify.ssc.restclient.ApiResponse;
import com.fortify.ssc.restclient.Configuration;
import com.fortify.ssc.restclient.Pair;
import com.fortify.ssc.restclient.ProgressRequestBody;
import com.fortify.ssc.restclient.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.fortify.ssc.restclient.model.ApiResult;
import com.fortify.ssc.restclient.model.ApiResultListProjectVersionIssueGroup;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class IssueGroupOfProjectVersionControllerApi {
    private ApiClient apiClient;

    public IssueGroupOfProjectVersionControllerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public IssueGroupOfProjectVersionControllerApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for listIssueGroupOfProjectVersion
     * @param parentId parentId (required)
     * @param start A start offset in object listing (optional, default to 0)
     * @param limit A maximum number of returned objects in listing, if &#39;-1&#39; or &#39;0&#39; no limit is applied (optional, default to 200)
     * @param q An issue query expression, must be used together with the &#39;qm&#39; parameter (optional)
     * @param qm Syntax mode for the &#39;q&#39; parameter, mandatory if the &#39;q&#39; parameter is used (optional)
     * @param filterset Filter set to use (optional)
     * @param fields Output fields (optional)
     * @param showhidden If &#39;true&#39;, include hidden issues in search results. If &#39;false&#39;, exclude hidden issues from search results. If no options are set, use application version profile settings to get value of this option. (optional, default to false)
     * @param showremoved If &#39;true&#39;, include removed issues in search results. If &#39;false&#39;, exclude removed issues from search results. If no options are set, use application version profile settings to get value of this option. (optional, default to false)
     * @param showsuppressed If &#39;true&#39;, include suppressed issues in search results. If &#39;false&#39;, exclude suppressed issues from search results. If no options are set, use application version profile settings to get value of this option. (optional, default to false)
     * @param showshortfilenames If &#39;true&#39;, only short file names will be displayed in issues list. (optional, default to false)
     * @param filter filter (optional)
     * @param groupingtype groupingtype (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listIssueGroupOfProjectVersionCall(Long parentId, Integer start, Integer limit, String q, String qm, String filterset, String fields, Boolean showhidden, Boolean showremoved, Boolean showsuppressed, Boolean showshortfilenames, String filter, String groupingtype, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/projectVersions/{parentId}/issueGroups"
            .replaceAll("\\{" + "parentId" + "\\}", apiClient.escapeString(parentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (start != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("start", start));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (q != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("q", q));
        if (qm != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("qm", qm));
        if (filterset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("filterset", filterset));
        if (fields != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("fields", fields));
        if (showhidden != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("showhidden", showhidden));
        if (showremoved != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("showremoved", showremoved));
        if (showsuppressed != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("showsuppressed", showsuppressed));
        if (showshortfilenames != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("showshortfilenames", showshortfilenames));
        if (filter != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("filter", filter));
        if (groupingtype != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("groupingtype", groupingtype));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "FortifyToken" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listIssueGroupOfProjectVersionValidateBeforeCall(Long parentId, Integer start, Integer limit, String q, String qm, String filterset, String fields, Boolean showhidden, Boolean showremoved, Boolean showsuppressed, Boolean showshortfilenames, String filter, String groupingtype, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'parentId' is set
        if (parentId == null) {
            throw new ApiException("Missing the required parameter 'parentId' when calling listIssueGroupOfProjectVersion(Async)");
        }
        

        com.squareup.okhttp.Call call = listIssueGroupOfProjectVersionCall(parentId, start, limit, q, qm, filterset, fields, showhidden, showremoved, showsuppressed, showshortfilenames, filter, groupingtype, progressListener, progressRequestListener);
        return call;

    }

    /**
     * list
     * 
     * @param parentId parentId (required)
     * @param start A start offset in object listing (optional, default to 0)
     * @param limit A maximum number of returned objects in listing, if &#39;-1&#39; or &#39;0&#39; no limit is applied (optional, default to 200)
     * @param q An issue query expression, must be used together with the &#39;qm&#39; parameter (optional)
     * @param qm Syntax mode for the &#39;q&#39; parameter, mandatory if the &#39;q&#39; parameter is used (optional)
     * @param filterset Filter set to use (optional)
     * @param fields Output fields (optional)
     * @param showhidden If &#39;true&#39;, include hidden issues in search results. If &#39;false&#39;, exclude hidden issues from search results. If no options are set, use application version profile settings to get value of this option. (optional, default to false)
     * @param showremoved If &#39;true&#39;, include removed issues in search results. If &#39;false&#39;, exclude removed issues from search results. If no options are set, use application version profile settings to get value of this option. (optional, default to false)
     * @param showsuppressed If &#39;true&#39;, include suppressed issues in search results. If &#39;false&#39;, exclude suppressed issues from search results. If no options are set, use application version profile settings to get value of this option. (optional, default to false)
     * @param showshortfilenames If &#39;true&#39;, only short file names will be displayed in issues list. (optional, default to false)
     * @param filter filter (optional)
     * @param groupingtype groupingtype (optional)
     * @return ApiResultListProjectVersionIssueGroup
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResultListProjectVersionIssueGroup listIssueGroupOfProjectVersion(Long parentId, Integer start, Integer limit, String q, String qm, String filterset, String fields, Boolean showhidden, Boolean showremoved, Boolean showsuppressed, Boolean showshortfilenames, String filter, String groupingtype) throws ApiException {
        ApiResponse<ApiResultListProjectVersionIssueGroup> resp = listIssueGroupOfProjectVersionWithHttpInfo(parentId, start, limit, q, qm, filterset, fields, showhidden, showremoved, showsuppressed, showshortfilenames, filter, groupingtype);
        return resp.getData();
    }

    /**
     * list
     * 
     * @param parentId parentId (required)
     * @param start A start offset in object listing (optional, default to 0)
     * @param limit A maximum number of returned objects in listing, if &#39;-1&#39; or &#39;0&#39; no limit is applied (optional, default to 200)
     * @param q An issue query expression, must be used together with the &#39;qm&#39; parameter (optional)
     * @param qm Syntax mode for the &#39;q&#39; parameter, mandatory if the &#39;q&#39; parameter is used (optional)
     * @param filterset Filter set to use (optional)
     * @param fields Output fields (optional)
     * @param showhidden If &#39;true&#39;, include hidden issues in search results. If &#39;false&#39;, exclude hidden issues from search results. If no options are set, use application version profile settings to get value of this option. (optional, default to false)
     * @param showremoved If &#39;true&#39;, include removed issues in search results. If &#39;false&#39;, exclude removed issues from search results. If no options are set, use application version profile settings to get value of this option. (optional, default to false)
     * @param showsuppressed If &#39;true&#39;, include suppressed issues in search results. If &#39;false&#39;, exclude suppressed issues from search results. If no options are set, use application version profile settings to get value of this option. (optional, default to false)
     * @param showshortfilenames If &#39;true&#39;, only short file names will be displayed in issues list. (optional, default to false)
     * @param filter filter (optional)
     * @param groupingtype groupingtype (optional)
     * @return ApiResponse&lt;ApiResultListProjectVersionIssueGroup&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ApiResultListProjectVersionIssueGroup> listIssueGroupOfProjectVersionWithHttpInfo(Long parentId, Integer start, Integer limit, String q, String qm, String filterset, String fields, Boolean showhidden, Boolean showremoved, Boolean showsuppressed, Boolean showshortfilenames, String filter, String groupingtype) throws ApiException {
        com.squareup.okhttp.Call call = listIssueGroupOfProjectVersionValidateBeforeCall(parentId, start, limit, q, qm, filterset, fields, showhidden, showremoved, showsuppressed, showshortfilenames, filter, groupingtype, null, null);
        Type localVarReturnType = new TypeToken<ApiResultListProjectVersionIssueGroup>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * list (asynchronously)
     * 
     * @param parentId parentId (required)
     * @param start A start offset in object listing (optional, default to 0)
     * @param limit A maximum number of returned objects in listing, if &#39;-1&#39; or &#39;0&#39; no limit is applied (optional, default to 200)
     * @param q An issue query expression, must be used together with the &#39;qm&#39; parameter (optional)
     * @param qm Syntax mode for the &#39;q&#39; parameter, mandatory if the &#39;q&#39; parameter is used (optional)
     * @param filterset Filter set to use (optional)
     * @param fields Output fields (optional)
     * @param showhidden If &#39;true&#39;, include hidden issues in search results. If &#39;false&#39;, exclude hidden issues from search results. If no options are set, use application version profile settings to get value of this option. (optional, default to false)
     * @param showremoved If &#39;true&#39;, include removed issues in search results. If &#39;false&#39;, exclude removed issues from search results. If no options are set, use application version profile settings to get value of this option. (optional, default to false)
     * @param showsuppressed If &#39;true&#39;, include suppressed issues in search results. If &#39;false&#39;, exclude suppressed issues from search results. If no options are set, use application version profile settings to get value of this option. (optional, default to false)
     * @param showshortfilenames If &#39;true&#39;, only short file names will be displayed in issues list. (optional, default to false)
     * @param filter filter (optional)
     * @param groupingtype groupingtype (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listIssueGroupOfProjectVersionAsync(Long parentId, Integer start, Integer limit, String q, String qm, String filterset, String fields, Boolean showhidden, Boolean showremoved, Boolean showsuppressed, Boolean showshortfilenames, String filter, String groupingtype, final ApiCallback<ApiResultListProjectVersionIssueGroup> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listIssueGroupOfProjectVersionValidateBeforeCall(parentId, start, limit, q, qm, filterset, fields, showhidden, showremoved, showsuppressed, showshortfilenames, filter, groupingtype, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ApiResultListProjectVersionIssueGroup>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
